html
  head
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1'
    )
    title Yetzirah CSS Foundation Library
    link(rel='stylesheet' media='screen' href='css/app.css')
  body
    header
      h1: a(href='./index.html') Yetzirah CSS Foundation Library
      p.
        A simple, lightweight, and responsive CSS library that prefers
        semantics over <i>classitis</i>.
      p.
        Built with love and pride. Uses Stylus for pre-processing.
    nav
      ul
        li: a(href='#base') Base styles
        li: a(href='#font-stacks') Font stacks
        li: a(href='#grids') Grids
        li: a(href='#forms') Forms
        li: a(href='#buttons') Buttons
        li: a(href='#tables') Tables
        li: a(href='#menus') Menus
        li: a(href='#animations') Animations
    include base
    include font-stacks
    include grids
    include forms
    include buttons
    include tables
    include menus
    include animations
