@import config

// Small screens (default)
html

  // Medium screens (640px)
  @media (min-width: 40rem)
    font-size 112%

  // Large screens (1024px +)
  @media (min-width: 64rem)
    font-size 120%
