// Mobile-first grid styles

@import config

container()
  margin 0 auto padding
  clearfix()
  // max-width 53rem
  // width 90%

column(numerator = 1, denominator = 1)
  selector()
  margin-bottom padding

  @media (min-width: 40rem)
    float left
    margin 0
    // padding-left 1rem
    // padding-right 1rem
    width (round((numerator / denominator * 100), 2))%
    padding-right padding
    // width = (@width + width)
    &:last-of-type
      padding-right 0
