// TODO implement basic responsive breakpoints

@import config

container()
  margin 0 auto gutter
  clearfix()
  // max-width 53rem

column(numerator = 1, denominator = 1)
  margin-bottom gutter

  @media (min-width 40rem)
    float left
    margin 0
    width (round((numerator / denominator * 100), 2))%
    padding-right gutter
    &:last-of-type
      padding-right 0
