/*
 * Sans-serif font stacks taken from "A Revised Font Stack" from _A Way Back_
 * http://www.awayback.com/revised-font-stack/
 */

// Optima (90.14% on Mac)
optima-font-stack = Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif

// Futura (91.01% on Mac)
futura-font-stack = Futura, "Trebuchet MS", Arial, sans-serif

// Gill Sans (91.52% on Mac, 51.74% on Windows)
gill-sans-font-stack = "Gill Sans", "Gill Sans MT", Calibri, sans-serif

// Trebuchet (94.20% on Mac, 99% on Windows)
trebuchet-font-stack = "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", \
  "Lucida Sans", Tahoma, sans-serif

// Helvetica Neue (94.74% on Mac)
helvetica-font-stack = "Helvetica Neue", Helvetica, Arial, sans-serif

// Verdana (96.81% on Mac, 99.40% on Windows)
verdana-font-stack = Verdana, Geneva, sans-serif

// Lucida Grande (99.13% on Mac, 98.25% on Windows)
lucida-grande-font-stack = "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", \
  Geneva, Verdana, sans-serif

// Geneva (98.84% on Mac)
geneva-font-stack = Geneva, Tahoma, Verdana, sans-serif

// Segoe (45.04% on Windows)
segoe-font-stack = Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif

// Candara (54.31% on Windows)
candara-font-stack = Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif

// Calibri (54.76% on Windows)
calibri-font-stack = Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif

// Franklin Gothic Medium (97.89% on Mac)
franklin-gothic-font-stack = "Franklin Gothic Medium", Arial, sans-serif

// Tahoma (99.30% on Windows)
tahoma-font-stack = Tahoma, Geneva, Verdana, sans-serif
